@page
@model asp_presentacion.Pages.Ventanas.EquiposModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Equipos</h3>
            </div>

            <div ali    gn="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar" 
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.IdEquipos" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Tipo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Marca" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Estado" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdSucursal" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Equipo</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Tipo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmTipo"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Tipo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Marca
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMarca"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Marca" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Estado
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstado"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Estado" />
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Sucursal
                            </label>
                            <div class="col-lg-6">
                                <input id="nmSucursal"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IdSucursal" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar este equipo?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Tipo
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                 Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flMarca"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Marca"
                       placeholder="Marca" />
                <br />

                <div class="containers_vn panel panel-default">


                    <table class="tb_data table table-striped table-bordered tablehover">
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Marca
                            </th>
                            <th>
                                Estado
                            </th>
                            <th class="cl_hidden">
                                Sucursal
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Tipo
                                    </td>
                                    <td>
                                        @elemento.Marca
                                    </td> 
                                    <td>
                                        @elemento.Estado
                                    </td> 
                                    <td class="cl_hidden">
                                        @elemento.IdSucursal
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.IdEquipos" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.IdEquipos" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center> 