@page
@model asp_presentacion.Pages.Ventanas.PeliculasModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Peliculas</h3>
            </div>

            <div ali    gn="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar" 
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.IdPelicula" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Titulo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Duracion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Genero" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdClasificacion" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Pelicula</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Titulo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmTitulo"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Titulo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Duracion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDuracion"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Duracion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Genero
                            </label>
                            <div class="col-lg-6">
                                <input id="nmGenero"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Genero" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Clasificacion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIdClasificacion"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IdClasificacion" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar esta pelicula?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Titulo
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                 Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flGenero"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Genero"
                       placeholder="Genero" />
                <br />

                <div class="containers_vn panel panel-default">


                    <table class="tb_data table table-striped table-bordered tablehover">
                        <tr>
                            <th>
                                Titulo
                            </th>
                            <th>
                                Genero
                            </th>
                            <th class="cl_hidden">
                                Duracion
                            </th>
                            <th class="cl_hidden">
                                Clasificacion
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Titulo
                                    </td>
                                    <td>
                                        @elemento.Genero
                                    </td> 
                                    <td class="cl_hidden">
                                        @elemento.Duracion
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.IdClasificacion
                                    </td>

                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.IdPelicula" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.IdPelicula" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center> 